<div class="container pt-3">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @my_posts.present? %>
          <%= render @my_posts %>
        <% else %>
          <div class="mb-3"><%= t('.no_result') %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
