<div class="container pt-3">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @bookmark_posts.present? %>
          <%= render @bookmark_posts %>
        <% else %>
          <div class="mb-3"><%= t('posts.index.no_result') %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
