<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12 col-12'>
        <div class='copyright'>
          <p class="text-center">Copyright ©︎ 2024 FPS_Community All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
