<%= link_to post_favorites_path(post), class:"userList", data: { turbo_method: :post } do %>
  <i class="bi bi-suit-heart-fill" aria-hidden="true"></i>
  <span class='fw-bold'><%= post.favorites.count %></span>
<% end %>
