.top-wrapper {
  background-image: url("fps_app_top.jpg");
  background-size: cover;
  height: calc(100vh - 90px);
  position: relative;
  background-position: center;

  .top-inner-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    h1 {
      font: inherit;
    }
    text-shadow:2px 2px 0 #FFF, -2px -2px 0 #FFF,
                -2px 2px 0 #FFF, 2px -2px 0 #FFF,
                0px 2px 0 #FFF,  0-2px 0 #FFF,
                -2px 0 0 #FFF, 2px 0 0 #FFF;
    font-size: 6rem;
    color: #FF7474;

    @media screen and (max-width: 767px) {
      h1 {
        font: inherit;
      }
      font-size: 4rem;
    }
  }

  .btn-custom {
    background-color: #FF1493;
    color: #ffffff;
  }
}
